h2 {
    font-family: 'press start 2P', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #3EAAE9;    
    text-shadow: 4px 4px 2px #0a86c0;
}